sipsorcery-silverlight/SIPSorcery.GUI/WCFReferences/SIPSorceryProvisioningClient/Provisioning2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.sipsorcery.com/provisioning/rest" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sipsorcery.com/provisioning/rest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sipsorcery.com/provisioning/rest/Imports">
      <xsd:import schemaLocation="http://localhost/Provisioning.svc?xsd=xsd5" namespace="http://www.sipsorcery.com/provisioning/rest" />
      <xsd:import schemaLocation="http://localhost/Provisioning.svc?xsd=xsd0" namespace="http://www.sipsorcery.com/provisioning" />
      <xsd:import schemaLocation="http://localhost/Provisioning.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Provisioning.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" />
      <xsd:import schemaLocation="http://localhost/Provisioning.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost/Provisioning.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SIPSorcery.CRM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProvisioningServiceREST_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPDomains_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPDomains" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPDomains_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPAccountsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPAccountsCount" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPAccountsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPAccountsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPAccounts" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPRegistrarBindingsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPRegistrarBindingsCount" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPRegistrarBindingsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPRegistrarBindingsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPRegistrarBindings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPRegistrarBindings" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPRegistrarBindings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPRegistrarBindingsResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProvidersCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProvidersCount" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProvidersCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProvidersCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProviders" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProviderBindingsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProviderBindingsCount" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProviderBindingsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProviderBindingsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProviderBindings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProviderBindings" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetSIPProviderBindings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSIPProviderBindingsResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetDialPlansCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDialPlansCount" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetDialPlansCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDialPlansCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetDialPlans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDialPlans" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetDialPlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDialPlansResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCallsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsCount" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCallsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCalls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalls" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCDRsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRsCount" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCDRsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCDRs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRs" />
  </wsdl:message>
  <wsdl:message name="IProvisioningServiceREST_GetCDRs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProvisioningServiceREST">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/IsAlive" message="tns:IProvisioningServiceREST_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/IsAliveResponse" message="tns:IProvisioningServiceREST_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/Login" message="tns:IProvisioningServiceREST_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/LoginResponse" message="tns:IProvisioningServiceREST_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/Logout" message="tns:IProvisioningServiceREST_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/LogoutResponse" message="tns:IProvisioningServiceREST_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPDomains">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPDomains" message="tns:IProvisioningServiceREST_GetSIPDomains_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPDomainsResponse" message="tns:IProvisioningServiceREST_GetSIPDomains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPAccountsCount">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPAccountsCount" message="tns:IProvisioningServiceREST_GetSIPAccountsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPAccountsCountResponse" message="tns:IProvisioningServiceREST_GetSIPAccountsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPAccounts">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPAccounts" message="tns:IProvisioningServiceREST_GetSIPAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPAccountsResponse" message="tns:IProvisioningServiceREST_GetSIPAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPRegistrarBindingsCount">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPRegistrarBindingsCount" message="tns:IProvisioningServiceREST_GetSIPRegistrarBindingsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPRegistrarBindingsCountResponse" message="tns:IProvisioningServiceREST_GetSIPRegistrarBindingsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPRegistrarBindings">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPRegistrarBindings" message="tns:IProvisioningServiceREST_GetSIPRegistrarBindings_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPRegistrarBindingsResponse" message="tns:IProvisioningServiceREST_GetSIPRegistrarBindings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPProvidersCount">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProvidersCount" message="tns:IProvisioningServiceREST_GetSIPProvidersCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProvidersCountResponse" message="tns:IProvisioningServiceREST_GetSIPProvidersCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPProviders">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProviders" message="tns:IProvisioningServiceREST_GetSIPProviders_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProvidersResponse" message="tns:IProvisioningServiceREST_GetSIPProviders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPProviderBindingsCount">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProviderBindingsCount" message="tns:IProvisioningServiceREST_GetSIPProviderBindingsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProviderBindingsCountResponse" message="tns:IProvisioningServiceREST_GetSIPProviderBindingsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSIPProviderBindings">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProviderBindings" message="tns:IProvisioningServiceREST_GetSIPProviderBindings_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetSIPProviderBindingsResponse" message="tns:IProvisioningServiceREST_GetSIPProviderBindings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDialPlansCount">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetDialPlansCount" message="tns:IProvisioningServiceREST_GetDialPlansCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetDialPlansCountResponse" message="tns:IProvisioningServiceREST_GetDialPlansCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDialPlans">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetDialPlans" message="tns:IProvisioningServiceREST_GetDialPlans_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetDialPlansResponse" message="tns:IProvisioningServiceREST_GetDialPlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallsCount">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCallsCount" message="tns:IProvisioningServiceREST_GetCallsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCallsCountResponse" message="tns:IProvisioningServiceREST_GetCallsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalls">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCalls" message="tns:IProvisioningServiceREST_GetCalls_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCallsResponse" message="tns:IProvisioningServiceREST_GetCalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRsCount">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCDRsCount" message="tns:IProvisioningServiceREST_GetCDRsCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCDRsCountResponse" message="tns:IProvisioningServiceREST_GetCDRsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRs">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCDRs" message="tns:IProvisioningServiceREST_GetCDRs_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/provisioning/rest/IProvisioningServiceREST/GetCDRsResponse" message="tns:IProvisioningServiceREST_GetCDRs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>