sipsorcery-silverlight/SIPSorcery.GUI/WCFReferences/SIPSorceryProvisioningClient/Provisioning6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sipsorcery.com/provisioning/rest" elementFormDefault="qualified" targetNamespace="http://www.sipsorcery.com/provisioning/rest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Provisioning.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPDomains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPDomainsResult" nillable="true" type="q1:ArrayOfSIPDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccountsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccountsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPAccountsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPAccountsResult" nillable="true" type="q2:ArrayOfSIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindingsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindingsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPRegistrarBindingsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPRegistrarBindingsResult" nillable="true" type="q3:ArrayOfSIPRegistrarBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProvidersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProvidersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPProvidersCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPProvidersResult" nillable="true" type="q4:ArrayOfSIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindingsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindingsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPProviderBindingsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPProviderBindingsResult" nillable="true" type="q5:ArrayOfSIPProviderBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlansCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlansCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDialPlansCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetDialPlansResult" nillable="true" type="q6:ArrayOfSIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCallsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetCallsResult" nillable="true" type="q7:ArrayOfSIPDialogueAsset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCDRsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetCDRsResult" nillable="true" type="q8:ArrayOfSIPCDRAsset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>