sipsorcery-silverlight/SIPSorcery.GUI/WCFReferences/SIPSorceryProvisioningClient/SIPProvisioningWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.sipsorcery.com/provisioning" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SIPProvisioningWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.sipsorcery.com/provisioning" location="http://suzannes-pc:8080/provisioning.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IProvisioningService" type="i0:IProvisioningService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCDRsCount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetCDRsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRs">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetCDRs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendSession">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/ExtendSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeZoneOffsetMinutes">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetTimeZoneOffsetMinutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestException">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/TestException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreNewAccountsEnabled">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/AreNewAccountsEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerPassword">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/UpdateCustomerPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPDomains">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPAccountsCount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPAccountsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPAccounts">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSIPAccount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/AddSIPAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSIPAccount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/UpdateSIPAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSIPAccount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/DeleteSIPAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPRegistrarBindingsCount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPRegistrarBindingsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPRegistrarBindings">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPRegistrarBindings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPProvidersCount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPProvidersCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPProviders">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSIPProvider">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/AddSIPProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSIPProvider">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/UpdateSIPProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSIPProvider">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/DeleteSIPProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPProviderBindingsCount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPProviderBindingsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSIPProviderBindings">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetSIPProviderBindings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDialPlansCount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetDialPlansCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDialPlans">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetDialPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDialPlan">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/AddDialPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDialPlan">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/UpdateDialPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDialPlan">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/DeleteDialPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallsCount">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetCallsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalls">
      <soap:operation soapAction="http://www.sipsorcery.com/provisioning/IProvisioningService/GetCalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SIPProvisioningWebService">
    <wsdl:port name="BasicHttpBinding_IProvisioningService" binding="tns:BasicHttpBinding_IProvisioningService">
      <soap:address location="http://suzannes-pc:8080/provisioning.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>