sipsorcery-silverlight/SIPSorcery.GUI/WCFReferences/SIPSorceryNotificationService/notifications.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.sipsorcery.com/notifications/pull" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.sipsorcery.com/notifications/pull" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sipsorcery.com/notifications/pull/Imports">
      <xsd:import schemaLocation="http://suzannes-pc/notifications.svc?xsd=xsd0" namespace="http://www.sipsorcery.com/notifications/pull" />
      <xsd:import schemaLocation="http://suzannes-pc/notifications.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://suzannes-pc/notifications.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotifications_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="INotifications_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="INotifications_GetPollPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPollPeriod" />
  </wsdl:message>
  <wsdl:message name="INotifications_GetPollPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPollPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="INotifications_GetNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications" />
  </wsdl:message>
  <wsdl:message name="INotifications_GetNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="INotifications_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="INotifications_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INotifications_CloseSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseSession" />
  </wsdl:message>
  <wsdl:message name="INotifications_CloseSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="INotifications_CloseConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnection" />
  </wsdl:message>
  <wsdl:message name="INotifications_CloseConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="INotifications">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/IsAlive" message="tns:INotifications_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/IsAliveResponse" message="tns:INotifications_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPollPeriod">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/GetPollPeriod" message="tns:INotifications_GetPollPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/GetPollPeriodResponse" message="tns:INotifications_GetPollPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotifications">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/GetNotifications" message="tns:INotifications_GetNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/GetNotificationsResponse" message="tns:INotifications_GetNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/Subscribe" message="tns:INotifications_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/SubscribeResponse" message="tns:INotifications_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/CloseSession" message="tns:INotifications_CloseSession_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/CloseSessionResponse" message="tns:INotifications_CloseSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <wsdl:input wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/CloseConnection" message="tns:INotifications_CloseConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://www.sipsorcery.com/notifications/pull/INotifications/CloseConnectionResponse" message="tns:INotifications_CloseConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>