sipsorcery-silverlight/SIPSorcery.GUI/Service References/SIPSorceryProvisioningClient/provisioning1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sipsorcery.com" elementFormDefault="qualified" targetNamespace="http://www.sipsorcery.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://suzannes-pc:8080/provisioning?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIPSorcery.CRM" />
  <xs:import schemaLocation="http://suzannes-pc:8080/provisioning?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIPSorcery.CRM" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPDomains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPDomainsResult" nillable="true" type="q2:ArrayOfSIPDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccountsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccountsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPAccountsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPAccountsResult" nillable="true" type="q3:ArrayOfSIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSIPAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="sipAccount" nillable="true" type="q4:SIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSIPAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="AddSIPAccountResult" nillable="true" type="q5:SIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSIPAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="sipAccount" nillable="true" type="q6:SIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSIPAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="UpdateSIPAccountResult" nillable="true" type="q7:SIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSIPAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="sipAccount" nillable="true" type="q8:SIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSIPAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="DeleteSIPAccountResult" nillable="true" type="q9:SIPAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindingsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindingsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPRegistrarBindingsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPRegistrarBindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPRegistrarBindingsResult" nillable="true" type="q10:ArrayOfSIPRegistrarBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProvidersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProvidersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPProvidersCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPProvidersResult" nillable="true" type="q11:ArrayOfSIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSIPProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="sipProvider" nillable="true" type="q12:SIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSIPProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="AddSIPProviderResult" nillable="true" type="q13:SIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSIPProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="sipProvider" nillable="true" type="q14:SIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSIPProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="UpdateSIPProviderResult" nillable="true" type="q15:SIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSIPProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="sipProvider" nillable="true" type="q16:SIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSIPProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="DeleteSIPProviderResult" nillable="true" type="q17:SIPProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindingsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindingsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSIPProviderBindingsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSIPProviderBindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetSIPProviderBindingsResult" nillable="true" type="q18:ArrayOfSIPProviderBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlansCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlansCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDialPlansCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDialPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetDialPlansResult" nillable="true" type="q19:ArrayOfSIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDialPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="dialPlan" nillable="true" type="q20:SIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDialPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="AddDialPlanResult" nillable="true" type="q21:SIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDialPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="dialPlan" nillable="true" type="q22:SIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDialPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="UpdateDialPlanResult" nillable="true" type="q23:SIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDialPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="dialPlan" nillable="true" type="q24:SIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDialPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="DeleteDialPlanResult" nillable="true" type="q25:SIPDialPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCallsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetCallsResult" nillable="true" type="q26:ArrayOfSIPDialogueAsset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCDRsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SIPSorcery.SIP.App" minOccurs="0" name="GetCDRsResult" nillable="true" type="q27:ArrayOfSIPCDRAsset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>